.app-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navs {
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #749BC5;
  color: white;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.nav-button {
  padding: 0.5rem 1rem;
  color: #0074d9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.logo {
  height: 6em;
  padding: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  margin-right: 90px;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100px;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.search-button {
  position: absolute;
  right: 5%;
  top: 0;
  bottom: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.3rem 1rem;
  background-color: transparent;

}

.search-icon {
  padding: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
