.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 20px;
  background-color: #749BC5;
  margin-top: 20px;
  width: 250px;
  color: #0074d9;
}

.signup-form h2 {
  margin-bottom: 10px;
}

.signup-form form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  margin-bottom: 5px;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 200px;
}

.signup-form button {
  padding: 10px;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
